
<h2>Cart</h2>


<table class="cart-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    @for (item of cartItems; track $index) {
      <tr data-id="{{item.id}}">
        <td><img [src]="item.product.image" alt="{{item.product.name}}" class="product-image" /></td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}$</td>
        <td>
          <button (click)="decreaseQuantity(item)" class="decrease-quantity">-</button>
          <span class="quantity">{{ item.quantity }}</span>
          <button (click)="increaseQuantity(item)" class="increase-quantity">+</button>
        </td>
        <td>{{ item.product.price * item.quantity }}$</td>
        <td><button (click)="removeFromCart(item)" class="remove-button">Remove</button></td>
      </tr>
    }
  </tbody>
</table>