
<h2>Cart</h2>


<section class="baskets">
    @for (item of cartItems; track $index) {
        <div class="cart-item" data-id="{{item.id}}">

            <img [src]="item.product.image" alt="{{item.product.name}}" />
            <h3>{{ item.product.name }}</h3>
            <p>Price: {{ item.product.price }}$</p>
            <p>Quantity: 
              <button (click)="decreaseQuantity(item)" class="decrease-quantity">-</button>
              <span class="quantity">{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item)" class="increase-quantity">+</button>
            </p>
            <p>Total Price: {{ item.product.price * item.quantity }}$</p>
            <button (click)="removeFromCart(item)">Remove</button>
          </div>
    }
</section>